.singleBlog {
  padding: 3rem 3rem 0 3rem;
  text-align: center;
}

.postButtons {
  margin: 3rem;
  text-align: end;
}

.postButtons button {
  border-radius: 10px;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
}

.postButtons button:nth-child(1) {
  background-color: gray;
}

.postButtons button:nth-child(2) {
  background-color: tomato;
}

.blogTitle {
  padding: 2rem;
}

.blogDescription {
  padding: 2rem;
}

.blogAuthor {
  margin-top: 1rem;
  text-align: end;
}

.editBlog {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.editBlog textarea {
  border-radius: 5px;
}

.editBlog textarea:nth-child(1) {
  height: 3rem;
}

.editBlog p {
  padding: 0.5rem;
  text-align: end;
}

.editBlogTitle {
  height: 3rem;
  padding: 0.5rem 2rem;
}

.editBlogDescription {
  height: 10rem;
  padding: 0.5rem 2rem;
}

.saveEdit {
  align-self: flex-end;
  background-color: rgb(14, 185, 14);
  border-radius: 10px;
  margin-left: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  width: 10rem;
}
