.singleBlog {
  padding: 3rem;
}

.backLink {
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 3rem;
  text-align: start;
  text-decoration: none;
}

.singleBlogPost {
  text-align: center;
}

.postButtons {
  margin: 3rem;
  text-align: end;
}

.postButtons button {
  border-radius: 10px;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
}

.postButtons button:nth-child(1) {
  background-color: gray;
}

.postButtons button:nth-child(2) {
  background-color: tomato;
}
