.createPostForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  width: 50%;
}

.createPostForm input {
  padding: 0 1rem;
}

.createPostForm input:nth-child(2) {
  min-height: 10rem;
}

.createPostForm button {
  align-self: flex-end;
  width: 10rem;
  background-color: gray;
  outline: none;
}
